.main-content{
  margin-top: 60px;
  margin-bottom: 60px;
}

.alert-danger{
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  text-align: center;
}
.test{
  height: 100%;
}
/* svg hover css */
svg > g:hover{
  stroke: grey;
  fill: darkgrey;
}

svg > a > .active:hover{
  stroke: green;
  fill: lightgreen;
}

svg > a > .add:hover{
  stroke:green;
  fill: lightgreen;
}

/* Sticky footer styles*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}