html,body{
  height:100%;
  width: 100%;
}

#CarouselIndicators{
  top: 10.5rem;
}

.zIndex2{
  z-index: 2;
}

.zIndex100{
  z-index: 100;
}

.h-20{
  height: 20%!important;
}

.card-body{
  padding: 0.5rem;
}

/* svg hover css */
svg{
  margin-bottom: 60px;
}
svg > g:hover{
  stroke: grey;
  fill: darkgrey;
}

.svg-green:hover{
  stroke: green;
  fill: lightgreen;
}

.svg-green:hover{
  stroke:green;
  fill: lightgreen;
}

#WebsitesScrollUp{
  display: none;
}

#SlideMeUp{
  display: none;
  overflow: hidden;
}

.carousel-control-prev, .carousel-control-next{
  width: 100px;
}

.carousel-item{
  padding: 0 50px;
}

/* Administration*/
#element-select-box{
  z-index: 1;
  overflow-y: none;
  position: relative;
}

#element-select > .col > i{
  text-align: center;
  padding: 3em 2em;
  border: 0.1em solid black;
  margin: 0 auto;
  font-size: 15px;
}

#element-select > .row > .element {
  margin: 1em auto;
  text-align: center;
  padding: 0.5em 2em;
  font-size: 15px;
  border: 0.15em double black;
}

#element-select > .row > .btn-group-toggle{
  margin: 1em auto 0 auto;
}

#preview{
  background-color: aqua;
}

.frame{
  border: 1px solid red;
}

.colorInput{
  width: 100px!important;
  height: 72px!important;
  border: none;
  background-color: transparent;
  text-align: center;
}

.colorInput:focus{
  outline: none;
}

#toolbox{
  width: 388px;
  height: 1080;
}

#widthInput, #heigthInput, #leftInput, #topInput{
  width: 40px!important;
}

#colorSvg{
  height: 200px;
  margin: 0.5em 0 0.5em 0;
  font-size: 3em;
}

svg > a > .add:hover{
  stroke:green;
  fill: lightgreen;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color:green;
}

.hide{
  background: transparent;
  display: relative;
}

.btn-input{
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-input > input{
  text-align: center;
}

.img-thumbnail{
  height: 25rem!important;
  width: auto!important;
}

.selected{
  border: 0.25em solid lightblue;
  padding: 0%;
}


#ts-select>div{
  text-align: center;
}

#ts-select>div>span{
  display: inline-flex;
  background-color: #ef6b6b;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem
}

.st-hover{
  background-color: #abf961!important;
}
