input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

html,body{
  height:100%;
  width: 100%;
}

.main-content{
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-alert{
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  text-align: center;
}

#CarouselIndicators{
  top: 10.5rem;
}

.zIndex2{
  z-index: 2;
}

.zIndex100{
  z-index: 100;
}

.h-20{
  height: 20%!important;
}

.card-body{
  padding: 0.5rem;
}

/* svg hover css */
svg{
  margin-bottom: 60px;
}
svg > g:hover{
  stroke: grey;
  fill: darkgrey;
}

.svg-green:hover{
  stroke: green;
  fill: lightgreen;
}

.svg-green:hover{
  stroke:green;
  fill: lightgreen;
}


#WebsitesScrollUp{
  display: none;
}

#SlideMeUp{
  display: none;
  overflow: hidden;
}

.carousel-control-prev, .carousel-control-next{
  width: 100px;
}

.carousel-item{
  padding: 0 50px;
}

/* Administration*/
#element-select-box{
  overflow-y: auto;
  position: relative;
}

#element-select > .row > .col > i{
  text-align: center;
  padding: 3em 2em;
  border: 0.1em solid black;
  margin: 0 auto;
  font-size: 15px;
}

#element-select > .row > .element {
  margin: 1em auto;
  text-align: center;
  padding: 0.5em 2em;
  font-size: 15px;
  border: 0.15em double black;
}

#element-select > .row > .btn-group-toggle{
  margin: 1em auto 0 auto;
}

#preview{
  padding: 2em;
  overflow: scroll;
  overflow-y: auto;
}

#preview::-webkit-scrollbar { 
  display: none; 
}

.frame{
  border: 1px solid red;
}

.colorInput{
  width: 100px!important;
  height: 72px!important;
  border: none;
  background-color: transparent;
  text-align: center;
}

.colorInput:focus{
  outline: none;
}

#widthInput, #heigthInput, #leftInput, #topInput{
  width: 40px!important;
}

#colorSvg{
  height: 200px;
  margin: 0.5em 0 0.5em 0;
  font-size: 3em;
}

svg > a > .add:hover{
  stroke:green;
  fill: lightgreen;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color:green;
}

.hide{
  display: none;
}

.btn-input{
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-input > input{
  text-align: center;
}

.img-thumbnail{
  height: 25rem!important;
  width: auto!important;
}

.selected{
  border: 0.25em solid lightblue;
  padding: 0%;
}


#ts-select>div{
  text-align: center;
}

#ts-select>div>span{
  display: inline-flex;
  background-color: #ef6b6b;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem
}

.st-hover{
  background-color: #abf961!important;
}
